<div class="card text-left" style="width:800px;margin-left:10rem;">
    <div class="card-header">
        <span style="padding-left: 17rem; font-weight:bold;font-size: 20px;">Tài khoản</span>
    </div>
    <div class="card-body">
        <form name="form" class="was-validated">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mật khẩu cũ</label>
                <input type="password" name="oldpass" ng-model="oldpass" class="form-control" id="oldpass" placeholder="mật khẩu cũ"
                    required maxlength="25" autofocus>
                <small ng-show="form.oldpass.$error.required" class="invalid-feedback">Vui lòng nhập mật khẩu</small>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mật khẩu mới</label>
                <input type="password" ng-model="student1.password" name="password" class="form-control" id="password" placeholder="" required
                   >
                <small ng-show="form.password.$error.required" class="invalid-feedback">Vui lòng nhập password</small>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Xác nhận mật khẩu</label>
                <input type="password" ng-model="renewpassword" name="renewpassword" class="form-control" id="renewpassword" placeholder=""
                    required compare-to="student1.password" >
                <small ng-show="form.renewpassword.$error.required" class="invalid-feedback">Vui lòng nhập password</small>
                <small ng-show="form.renewpassword.$error.compareTo"  class="invalid-feedback">Mật khẩu không khớp</small>
            </div>
            <button ng-disabled="form.$invalid" ng-click="changepass()" type="button" class="btn btn-success">Xác
                nhận</button>
            </form>
            </div>
</div>