<div class="container"ng-controller="checklogin">
    <!-- Site Logo Here -->
    <a class="navbar-brand" href="#"><img src="../Images/logo.png"width="24" height="20" alt=""> Tesing Online</a>
    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobileToggle" aria-controls="navbarMobileToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMobileToggle">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#!layout"><i class="fa-solid fa-house"></i> Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!gioithieu"><i class="fa-solid fa-earth-americas"></i> giới thiệu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!lienhe"><i class="fa-solid fa-phone"></i> Liên hệ</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-hand"></i> Gợi ý</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-question"></i> Hỏi đáp</a>
            </li>
        </ul>

        <!-- Right Side -->
        <div class="btn-group float-end">
            <a href="#" class="dropdown-toggle text-decoration-none text-light" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle"></i>
            <span><i class="fa-solid fa-user"></i>{{(student==null)?'Tài khoản':student.username}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <div ng-show="student==null">
                <li><a ng-click="intro==0" href="#!dangnhap" class="dropdown-item"><i class="bi bi-lock-fill"></i>Đăng nhập</a></li>
                <li><a ng-click="intro==0" href="#!dangky" class="dropdown-item"><i class="bi bi-gear-fill"></i>Đăng ký</a></li>
                <li><a ng-click="intro==0" href="#!quenmatkhau" class="dropdown-item"><i class="bi bi-gear-wide-connected"></i>Quên mật khẩu</a></li>
            </div>
            <div ng-hide="student==null">
                <li><a ng-click="intro==1" href="#!doimatkhau" class="dropdown-item"><i class="bi bi-box-arrow-right"></i>Đổi mật khẩu</a></li>
                <li><a ng-click="intro==1" href="#!profileaccount" class="dropdown-item"><i class="bi bi-box-arrow-right"></i>Thông tin cá nhân</a></li>
                <li><a ng-click="intro==1" href="#!quenmatkhau" class="dropdown-item"><i class="bi bi-box-arrow-right"></i>Quên mật khẩu</a></li>
                <li><a ng-click="intro==1;logoff()" href="#" class="dropdown-item"><i class="bi bi-box-arrow-right"></i>Đăng xuất</a></li>
            </div>
            </ul>
        </div>
    </div>
</div>